<link rel="stylesheet" href="{{ app.config.user_data_urlpath }}/AmazonPayments/css/amazon_button_detail.css" />
<div class="bk_cart0622">
    <div id="detail_cart_box__button_area" class="btn_area">
        <div class="clearfix">
            <div class="migi0627">
                <ul id="detail_cart_box__insert_button" class="row">
                    <li class="col-xs-12 col-sm-8">
                        <p class="cart0622">
                            <button type="submit" id="add-cart" class="btn btn-primary btn-block prevention-btn prevention-mask"><span><img src="{{ app.config.user_data_urlpath }}/AmazonPayments/img/icon_pc_ss.png" alt="アイコン"></span>　カートに入れる</button>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="man0627">or</div>
            
            <div class="hida0627">
                {% if Product.stock_find %}
                    <p id="AmazonPayButton"></p>
                    <p class="ama_text">Amazon.co.jpに登録している情報を使ってお支払いができるサービスです。</p>
                {% endif %}
            </div>
        </div>
        {% if BaseInfo.option_favorite_product == 1 %}
        <ul id="detail_cart_box__favorite_button" class="row">
            {% if is_favorite == false %}
                <li class="col-xs-12 col-sm-8"><button type="submit" id="favorite" class="btn btn-info btn-block prevention-btn prevention-mask">お気に入りに追加</button></li>
            {% else %}
                <li class="col-xs-12 col-sm-8"><button type="submit" id="favorite" class="btn btn-info btn-block" disabled="disabled">お気に入りに追加済みです</button></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>