{#
AmazonPayments for EC-CUBE3
Copyright(c) 2016 IPLOGIC CO.,LTD. All Rights Reserved.

http://www.iplogic.co.jp/

This program is not free software.
It applies to terms of service.
#}
<div class="row">
    <div class="alert alert-success alert-dismissable alert-section">
        <button type="button" class="close" data-dismiss="alert"><span class="alert-close" aria-hidden="true">?</span></button>
        <svg class="cb cb-info-circle"> <use xlink:href="#cb-info-circle" /></svg> {{ message|trans|nl2br }}
    </div>
</div>
